{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}    
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to {{ title }}</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-6 columns">
      	<div class="panel">
	        <p>1</p>
      	</div>
      </div>
      <div class="large-6 columns">
      	<div class="panel">
	        <p>2</p>
      	</div>
      </div>
    </div>

	<div class="row">
        <div class="large-12 columns">
			<div class="panel">
	        	<p>Admin Page</p>
	        </div>
	    </div>
    </div>
{% endblock %}
