{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}    
<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	var socket = io.connect('http://{{ globalData.server }}');
	data = {
		username: '{{ username }}',
		chatHash: '{{ chat_room }}'
	};
	socket.emit('adduser', data);

	socket.on('updatechat', function (username, data) {
		$('#messages').append('<li><strong>'+username + ':</strong> ' + data + '</li>');
	});

	socket.on('updateusers', function (users) {
		var string = '<ul>';
		for (i = 0; i < users.length; i++) {
			string += '<li>'+users[i]+'</li>';
		}
		string += '</ul>';
		$('#userslist').html(string);
	});
	
	$(function(){
		$('#datasend').click( function() {
			var message = $('#data').val();
			$('#data').val('');
			var data = { message: message, username: '{{ username }}', room:'{{ chat_room }}' };
			socket.emit('sendchat', data);
		});

		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
				$('#data').focus();
			}
		});
	});

</script>

<div class="row">
  <div class="large-8 columns">
  	<p>Convo</p>
    <div id="messages"></div>
  </div>
  <div class="large-2 columns">
  	<p>Connected Users</p>
    <div id="userslist"></div>
  </div>
</div>

 	<style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      .chat_form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      .chat_input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      .chat_button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
    <div class="chat_form">
      <input class="chat_input" id="data" autocomplete="off" /><button class="chat_button" id="datasend">Send</button>
    </div>

{% endblock %}
