{% extends 'layout.html' %}

{% block title %}{% parent %} | {{ title }}{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}   
    <div class="container">
      <div class="row">
        <div class="large-4 large-offset-4 columns">      
          <h1 class="text-center login-title">Signup Details
            <div class="signup-wall">
              <form action="/signup" method="POST" class="form-signin">
                <input type="text" name="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control"/>
                <input type="password" name="password" placeholder="Password" required="required" class="form-control nomargin"/>
                <input type="email" name="email" placeholder="Email" required="required" class="form-control"/>
                <input type="text" name="displayname" placeholder="Name" required="required" class="form-control"/>
                <input type="text" name="phone" placeholder="Phone number" required="required" class="form-control"/>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button><span class="clearfix"></span>
              </form>
            </div>
            <div id="message">
            </div>
          </h1>
        </div>
      </div>
    </div>
{% endblock %}
